body {
	background-color: #36393e;
}

div.jumbotron {
	background-color: #32393b;
	margin-top: 32px;
}

h1, h4 {
	color: #ffffff;
}

p {
	color: #99aab5;
}

p.jumbotron-text {
	font-size: 1.5em;
}

img#logo {
	margin-right: 15px;
}