body {
	background-color: #36393e;
	padding-top: 4.125rem;
}

div.jumbotron {
	background-color: #32393b;
}

h1, h4 {
	color: #ffffff;
}

p {
	color: #99aab5;
}

p.jumbotron-text {
	font-size: 1.5em;
}

img#logo {
	margin-right: 1rem;
	width: 2.5rem;
}

.navbar {
	background-color: inherit;
}

.row {
	padding-bottom: 15px;
}